<?xml version="1.0"?>
<robot name="triangle">
  <link name="triangle">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="./triangle.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="./triangle.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.5"/>
      <inertia ixx="0.05" ixy="0.0" ixz="0.0" iyy="0.05" iyz="0.0" izz="0.05"/>
    </inertial>
  </link>
</robot>
